body {
	background-color: #F4F4F4;

}

#clock {
	color: #fff;
	font-size:  195px;
	background-color:  #000;
	

	width: 80%;
	margin: 0px auto;
	font-family: Impact, Helvetica, Verdana;
	text-align: center;
	text-transform: uppercase;
}

#banner {
	color: #fefefe;
	font-size:  50px;
	text-align: center;
	background-color: #Eb6832;
	padding-right: 0px ;
	width:  80%;
	margin: 10% auto 0%;
	font-family: Impact, Helvetica, Verdana;
	text-transform: uppercase;
}

span {
	
}